main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 230px);
  width: 100%;
  background-color: #ebd4d4;
  font-family: "Quicksand", sans-serif;
}

main h1 {
  font-size: 30px;
  align-self: flex-start;
  margin-left: 10%;
  color: #835858;
}

main p {
  font-size: 25px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
  color: #835858;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

main form #userid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

main form #theme_objet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-top: 15px;
}

main form #theme {
  height: 25px;
  color: #835858;
}

main form #theme:focus {
  background-color: #ebd4d4;
  color: #835858;
}

main form .input_group {
  border: 2px solid #835858;
  background-color: #ebd4d4;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

main form .input_group .input_label {
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #835858;
}

main form .input_group .input_field {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #835858;
}

main form .input_group .input_field:focus {
  outline: none;
}

main form #votre_message {
  background-color: #ebd4d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 20px;
}

main form #label_message {
  align-self: flex-start;
  font-size: 18px;
  margin-bottom: 10px;
  color: #835858;
}

main form #message {
  font-size: 18px;
  background: transparent;
  border: 2px solid #835858;
  padding: 10px;
  border-radius: 20px;
  resize: none;
  color: #835858;
  font-family: "Quicksand", sans-serif;
}

main form #message:focus {
  outline: none;
}

main form #message::placeholder {
  font-family: "Quicksand", sans-serif;
  color: #83585869;
}

main form #envoyer {
  height: 50px;
  width: 160px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  background-color: #ebd4d4;
  border: 3px solid #835858;
  border-radius: 6px;
  margin: 20px;
  color: #835858;
}
