main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #835858;
  animation: apparition_main 1500ms linear forwards;
}

@keyframes apparition_main {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#afrique {
  margin: 0;
  height: 40em;
  background-image: url(/img/afrique/backgroundafrique.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  filter: saturate(170%);
}

#afrique div {
  margin: 0 30px;
  padding: 0 15px;
  width: 40%;
  background-color: #fff0f0ee;
  display: flex;
  flex-direction: column;
  z-index: 7;
}

#afrique h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 4em;
  margin: 2em 0px 1em 30px;
}

#afrique p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2em;
  width: 70%;
  align-self: flex-end;
  margin-right: 10px;
}

#afrique_nord {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0f0;
}

#afrique_nord h2 {
  align-self: flex-start;
  margin: 1em 0px 10px 2.5em;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

#afrique_nord div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
}

#afrique_nord img {
  padding: 50px;
  height: 300px;
}

#afrique_nord p {
  font-size: 1.7em;
  width: 50%;
  font-family: "Raleway", sans-serif;
}

#afrique_nord a {
  text-decoration: none;
  color: #835858;
  font-weight: bold;
}

#egypt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#egypt #bandeausup,
#egypt #bandeauinf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20em;
}

#egypt #bandeausup {
  background-image: url(/img/afrique/backgroundegypt.jpg);
  background-position: top 45% right 50%;
  background-size: cover;
}

#egypt #container_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 5em;
  backdrop-filter: blur(3px);
}

#egypt #container_titre h2 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

#egypt #bandeauinf {
  background-color: #fff0f0;
}

#egypt #bandeauinf p {
  width: 70%;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}

#egypt a {
  text-decoration: none;
  color: #835858;
  font-weight: bold;
}
