html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Mise en forme du Header */

header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #463333;
  color: #fff0f0;
  font-family: "Quicksand", sans-serif;
}

header img {
  height: 80px;
  margin: 0 30px;
}

header nav {
  width: 80%;
  padding: 0;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

header nav li {
  padding: 1.45em 20px;
  font-size: 1.5em;
}

header nav i {
  font-size: 0.8em;
}

header nav a {
  text-decoration: none;
  color: #fff0f0;
}

header nav li,
header #link_contact {
  background: linear-gradient(to left, transparent 50%, #ebd4d4 50%) right;
  background-size: 230%;
  transition: 400ms ease-in-out;
}

header nav li:hover,
header #link_contact:hover {
  background-position: left;
  color: #463333;
}

#premier_lien {
  padding-top: 1em;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 1.2em;
  left: -20px;
  background-color: #f1f1f1;
  min-width: 100%;
  z-index: 5;
}

.dropdown-content a {
  background: #ebd4d4;
  width: 100%;
  padding: 0.5em 20px;
  text-decoration: none;
  display: block;
  color: #463333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Fin de la mise du Header */

/* Mise en form du Footer */

footer {
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #463333;
  font-family: "Quicksand", sans-serif;
}

footer img {
  height: 80px;
  align-self: center;
  margin: 0px 30px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
}

footer a,
footer p {
  text-decoration: none;
  color: #fff0f0;
  font-size: 1.2em;
  padding: 3px;
}

footer p {
  margin: 0;
  font-weight: 600;
}

footer #lien_contact {
  margin-right: 10%;
  margin-top: 10px;
}
/* Fin de la mise forme du Footer */
main {
  position: relative;
}
.worldmap_img {
  width: 90vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fas {
  font-size: 30px;
}
#Serbie {
  position: absolute;
  top: 31%;
  right: 50%;
  color: #463333;
}
#Russie {
  position: absolute;
  top: 23%;
  right: 46%;
  color: #463333;
}
#Egypte {
  position: absolute;
  top: 43%;
  right: 49%;
  color: #463333;
}

#hide_egypte,
#hide_russie,
#hide_serbie {
  display: none;
}
#hide_russie {
  position: absolute;
  top: 23%;
  right: 46%;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

#Russie:hover + #hide_russie {
  display: block;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
  top: 23%;
  right: 36%;
}

#lien_ru {
  height: 100%;
  width: 100%;
}

#hide_serbie {
  position: absolute;
  top: 31%;
  right: 50%;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
#hide_serbie:hover {
  position: absolute;
  top: 31%;
  right: 50%;
  align-items: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
}
#hide_russie:hover {
  position: absolute;
  top: 23%;
  right: 36%;
  align-items: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
}

#hide_egypte:hover {
  position: absolute;
  top: 43%;
  right: 49%;
  align-items: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
}

#Serbie:hover + #hide_serbie {
  display: block;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
}

#hide_egypte {
  position: absolute;
  top: 43%;
  right: 49%;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
  background-color: #32a993;
}
#Egypte:hover + #hide_egypte {
  display: block;
  display: flex;
  flex-direction: column;
  background-color: #463333;
  padding: 10px;
  color: #32a993;
  border-radius: 5px;
  position: absolute;
  top: 43%;
  right: 49%;
}

.photo_accueil {
  width: 100px;
}

/* Fin du CSS Accueil */
